/* common css start */

.common-button a{
color: white;
font-size: 16px;
font-family: Inter;
font-weight: 500;
line-height: 24px;
padding: 14px 32px;
text-decoration: none;
background-color: #4CAF4F;
border-radius: 4px;
border: 1px solid transparent;
transition: 0.5s;

}
.common-button a:hover{
color: #18191F;
border: 1px solid #4CAF4F;
background-color: #ffffff;
}

.title h2{
color: #4D4D4D;
font-size: 36px;
font-family: Inter;
font-weight: 600;
line-height: 44px;
margin-bottom: 0; 

}
.title p{
color: #717171;
font-size: 16px;
font-family: Inter;
font-weight: 400;
line-height: 24px;
padding-top: 8px;
padding-bottom: 16px;

}
.title{
text-align: center;
}
.box{
    display: flex;
}

/* common css end */



.navbar{
background-color: #f5f7fa !important;
padding: 22px 0;
}
.navbar-nav{
color: #18191F;
font-size: 16px;
font-family: Inter;
font-weight: 500;
line-height: 24px;
column-gap: 50px;

}

.nav-link {
    padding-right: 0 !important; 
   padding-left: 0 !important; 
}
.button{
    display: flex;
    column-gap: 14px;
    
    
}
.button a{
    border: 1px solid #dcdfe4;
    text-decoration: none;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 20px;
    color: #4CAF4F;
    border-radius: 6px;
    transition: 0.5s;
    
}
.button .login a{
    padding: 10px 20px;
    color: #4CAF4F;
    border-radius: 6px;
    
    
    
    
}
.button a:hover{
    color: #ffffff;
    background-color: #4CAF4F;
    
    
}
/* navber end */

/* banner start */


.banner{
    background-color: #f5f7fa ;
}


.banner .row {
    align-items: center;
    padding: 96px 0;
    
}

.banner .row h1{
color: #4D4D4D;
font-size: 64px;
font-family: Inter;
font-weight: 600;
line-height: 76px;
}
.banner .row h1 span{
color: #4CAF4F;;
font-size: 64px;
font-family: Inter;
font-weight: 600;
line-height: 76px;
}
.banner .row p{
color: #717171;
font-size: 16px;
font-family: Inter;
font-weight: 400;
line-height: 24px;
padding-top: 16px;
padding-bottom: 32px;
}
.banner .row img{
padding-left: 104px;
}
/* banner end */
/* our client start */


.our-client{
    padding: 40px 0;
}


.our-client .box{
    /* column-gap: 50px; */
    justify-content: space-between;
    padding: 25px 0;
}


/* our client end */

/* communite start  */


.community{
   padding-top: 42px;
   padding-bottom: 48px;

    
}
.community .title h2{
    width: 542px;
    margin: 0 auto;

    
}
.community .card{
    width: 100% !important;
    padding: 24px 48px;
}
.community .card img{
    width: 65px;
    margin: 0 auto;
}
.community .card-body{
    text-align: center;
    padding: 0 !important;
    

    
}
.community .card-body .card-title{
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    line-height: 36px;
    width: 232px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 8px;

    
}
.community .card-body .card-text{
    color: #717171;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    width: 251px;
    margin: 0 auto;
    
}
/* communite end  */
/* unlock start  */




.unlock{
    padding: 40px 0;
    
}


.unlock .row{
    align-items: center;
}

.unlock .title{
    text-align: left;

}
.unlock .title h2{
    width: 600px;
}
.unlock .title p{
    width: 600px;
    padding-top: 16px;
    padding-bottom: 32px;
}
/* unlock end  */
/* Achievements start  */


.achievements{
    background-color: #F5F7FA;
    
}
.achievements .main{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 40px;
    
}
.achievements{
    background-color: #F5F7FA;
    padding: 84px 0;
}
.achievements .title h2{
    width: 407px;
}
.achievements .title p{
    padding-bottom: 0;
    margin-bottom: 0;
}
.achievements .title span{
    color: #4CAF4F;
}
.achievements .member{
    display: flex;
    column-gap: 16px;
    /* align-items: center; */
    width: 258px;
    
}
.achievements .member h3{
    color: #4D4D4D;
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 0;
}
.achievements .member p{
    color: #717171;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    
    
}
.achievements .row{
    align-items: center;
}


/* Achievements end  */
/* coustomers start  */
.coustomers{
    padding: 32px 0;
    background-color: #F5F7FA;
    margin: 48px 0;
}
.coustomers p{
    color: #717171;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
    width: 748px;
    
}
.coustomers h4{
    color: #4CAF4F;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 8px;
    
}
.coustomers span{
    color: #89939E;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    
    
}
.coustomers .brand-logo{
    display: flex;
    padding-top: 32px;
    column-gap: 40px;
    
}
.coustomers .brand-logo .janina{
    display: flex;
    align-items: center;

    
}

.coustomers .brand-logo .janina h3{
    color: #4CAF4F;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
    padding: 8px 8px;
    
}


/* coustomers end  */

/* community update start  */

.community-update{
    margin: 48px 0;
}
.community-update .ula{
    display: flex;
    column-gap: 60px;
}

.community-update .image{
    position: relative;
    

}

.community-update .title p{
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 32px;
    color: black;
    width: 628px;
}
.community-update .text{
    background-color: white;
    width: 320px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 16px 16px;
    position: absolute;
    bottom: -61px;
    left: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* row-gap: 16px; */
}
.community-update .text h4{
    width: 285px;
    margin: 0 auto;
    padding-bottom: 16px;
    color: #717171;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;

}
.community-update .text span{
    color: #4CAF4F;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;

}
.community-update .text .ki{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}

/* community update end  */
/* foter age start  */

.footer-age{
    padding: 32px 0;
    margin-top: 176px;
    background-color: #F5F7FA;
    
}
.footer-age h1{
    color: #263238;
    font-size: 64px;
    font-family: Inter;
    font-weight: 600;
    line-height: 76px;
    text-align: center;
    width: 888px;
    margin: 0 auto;

}
.footer-age .nt a{
    display: inline-block;
    margin-top: 32px;
    

    
}
.footer-age .nt{
    text-align: center;
    
}

/* foter age end  */
/* foter start  */

.footer{
    background-color: #263238;
    padding: 64px 0;
}
.footer .p-text{
    color: #F5F7FA;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    padding: 40px 0;
}
.footer .p-text p{
    margin-bottom: 0;
    padding-bottom: 8px;
}
.footer .social{
    display: flex;
    column-gap: 16px;
}
.footer .company h2{
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
}
.footer .company ul{
    list-style: none;
    padding-left: 0;
    padding-top: 24px;
}
.footer .company li{
    color: #F5F7FA;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}
.footer .company a{
    color: #D9DBE1;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    padding: 9px 117px 11px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    display: inline-block;
    margin-top: 24px;
}
.footer .box{
    justify-content: space-between;
}






/* foter end  */



